{% extends "auctions/layout.html" %}


{% block body %}
<section id="secauction">
    <div class="secauction-container">
        <h2 class="secauction-container-titulo">{{ auction.title }}</h2>
            {% if auction.image %}
                <div class="secauction-container-img">
                <img src="{{ auction.image }}" alt="{{ auction.title }}">
                </div>
            {% endif %}
        <div class="secaution-container-text">
            <p class="secauction-container-description">
                Description: {{ auction.description }}
            </p>
            <p class="secauction-container-category">
                Category: {{ auction.category }}
            </p>
            <p class="secauction-container-initbid">
                Initial Bid: $ {{ auction.initialbid}}
            </p>
            <p class="secauction-container-price">
                Current Bid: $ {{ auction.price}}
            </p>
            {% if watch %}
            <div class="secauction-container-watchlist"> 
                <button>
                    <a href="{% url 'changewatch' auction.title %}">Remove from Watchlist</a>
                </button>
                
            </div>
            {% else %}
            <div class="secauction-container-watchlist"> 
                <button>
                    <a href="{% url 'changewatch' auction.title %}">Add to Watchlist</a>
                </button>
            </div>
            {% endif %}
        </div>                 
        


        <div>
            {% if user.is_authenticated %}
                {% if user == auction.owner %}
                <div>Hi <strong>{{ user.username }}</strong>, you are the owner of this auctinon</div>
                    {% if auction.active %} <div>This auction is <strong>ACTIVE</strong> </div>   
                        <div>you can close this auction and collect the money</div> 
                        <form action="{% url 'closeauction' auction.title %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="Close Auction">
                        </form>
                    {% else %}
                    <div>This Auction is <strong>closed</strong>, winner is {{auction.pricebidder}} on $ {{auction.price}} </div>
                    {% endif %}
                {% else %}
                    {% if auction.active %}
                    <div>Hi <strong>{{ user.username }}</strong>, place a bid!</div>
                    <form action="{% url 'placebid' auction.title %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input style="margin-top: 10px; width: 130px;"  class="form-control" type="number" required min="{{ auction.price}}" name="bid" placeholder="Place Bid">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </form>
                    {% else %}
                        {% if user == auction.pricebidder %}
                        <div>This Auction is <strong>closed</strong>, YOU are the winner on $ {{auction.price}} </div>
                        {% else %}
                        <div>This Auction is <strong>closed</strong>, closed on $ {{auction.price}} </div>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% else %}
                You need to <a id="alogin" href="{% url 'login' %}">Log In</a> to place a bid, a comment or to add it to your watchlist.
            {% endif %}
            
        <hr>

        </div>
        <h2 style="margin-bottom: 20px;">Comments</h2> 
        {% for comment in comments %}
        <div>
            {{ comment }}
        </div>
        {% endfor %}
        {% if user.is_authenticated %}
            {% if auction.active %}
            <div style="margin-top: 20px;">place a comment!</div>
            <form action="{% url 'comment' auction.title %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input style="margin-top: 10px;"  class="form-control" type="text" name="comment" placeholder="Place your comment here">
                </div>
                <input class="btn btn-primary" type="submit" value="Comment">
            </form>
            {% endif %}
        {% endif %}

    </div>

</section>
    

    
{% endblock %}