{% extends "auctions/layout.html" %}

{% block body %}
<section class="createlistings">

    <h2>Create Listings</h2>
    <div>
        {% if user.is_authenticated %}
        <form action="{% url 'fromcreate' %}" method="post">
            {% csrf_token %}
            <div>
                <input autofocus type="text" name="title" placeholder="Title">
            </div>
            <div>
                <input class="inputlarge" type="text" name="bodyauction" placeholder="Description">
            </div>
            <div>
                <input class="inputlarge" type="url" name="image" placeholder="Place Image URL">
            </div>
            <div>
                <input type="number" name="bid" placeholder="Place Initial Bid">
            </div>
            <div>
                <select name="category">
                    {% for category in categories %}
                        <option value="{{ category.categorytype }}">{{ category.categorytype }}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="inputcloseauction" type="submit" value="Create Auction">


        </form>
        {% else %}
            <div>need to sign in to create an auction.</div> 

           <div>Already have an account? <a href="{% url 'login' %}">Log In here.</a></div> 
        {% endif %}
    </div>

</section>
    
{% endblock %}