{% extends "auctions/layout.html" %}

{% block body %}

    <section id="activelistingsdisplay">
        <div class="container">
            <h2>Active Listings</h2>
        
            {% for auction in auctions %}
                {% if auction.active %}
                    <div class="card">
                        {% if auction.image %}
                        <div class="cardimage">
                            <img src="{{ auction.image }}" alt="{{ auction.title }}">
                        </div>
                        {% endif %}
                        <div class="cardbody">
                            <a style="color: black; text-decoration: none;"><h5>{{ auction.title }}</h5></a>
                            <h6 class="card-subtitle mb-2 text-muted">Price: USD {{ auction.price }}-</h6>
                            <p>{{ auction.description }} </p>
                            <button>
                                <a href="{% url 'auction' auction.title %}">See More</a>
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    
{% endblock %}